@use "../../assets/scss/_variables.scss" as v;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rubik:ital,wght@1,700;1,900&display=swap');



.topbar {
    background-color:v.$color1;
    width: 100vw;
    font-size: 22px;

    .navbar-toggler-icon{
       
     padding: 1.6rem;
     margin: 0;
        
    }

    .navbar-toggler{
        
        background-color: v.$color2 ;
        opacity: 0.95;
    }

    .peritto{
        margin-right:26px ;
    }
    
    

     
    
    

    .var{
        display: none;

        @media(max-width: 385px) {
            display: inline;
            
        }
    }

    
    
    a{
        color:v.$text-color;
        :active{
            color: red !important
        }
        &.dropdown-item{
            font-size: 20px;
        }
        &.navbar-brand{
            font-size: 35px;
            padding: 0;
            font-family: 'Vesper Libre', serif;
            //font-family: 'Orbitron', sans-serif;
        }
    }

    

    
    
    button.navbar-toggler{
        border: 1px v.$text-color solid ;
        border-radius: 0;
        &.show{
            border: 1px v.$text-color solid ;
        }
        
        --bs-navbar-active-color:red;

        .navbar-toggler-icon{
            flex: none;
            opacity: 1;
        }
    }

    .dropdown-menu{
        
            background-color: v.$color1;
            border: none;
            border-radius: 0;
            
        
    }

  }