div.foooot{
    display: flex;
    text-align: left;
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(233, 233, 233);
    position: fixed;
    bottom: 0;
   
    width: 100vw;

    
    @media(max-width:520px){
        font-size: 20px;
        
    }
    .bixi{
        display: flex;
  justify-content: center;
  align-items: center;
        flex: 1;
        
        
        font-size: 45px;
        font-weight: 600;
        color: rgb(207, 48, 48); 
        padding: 3px;
        margin-left: 3px;
        border: 1px solid rgb(201, 112, 112);
       

    }
    .bixi2{
         display: inline;
         text-align: center;
        flex: 19;
       
    }

    .var-y{
        display: none;

        @media (max-width:410px){display: block;}
            
        
    }

    a{
        color: rgb(73, 219, 219);
        
    }

    
}

/* 
 display: flex;
    
        
        
        left: 1.4rem;
        margin-right: 4px;
        font-size: 45px;
        font-weight: 600;
        color: rgb(207, 48, 48); */