div.foooot{
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: 2rem;
    background-color: rgb(233, 233, 233);
    position: fixed;
    bottom: 0;
    display: inline;
    width: 100vw;

    span{
        
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 1.4rem;
        font-size: 2rem;
        font-weight: 600;
        margin-right: 4px;
        color: rgb(207, 48, 48);

    }

    .var-y{
        display: none;

        @media (max-width:410px){display: block;}
            
        
    }

    
}