div.foooot{
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: 2rem;
    background-color: rgb(233, 233, 233);
    position: fixed;
    bottom: 0;
    display: inline;
    width: 100vw;

    span{
        
        position: absolute;
        bottom: 1.5rem;
        left: 2rem;
        font-size: 2rem;
    
 
    }

    
}