@use "../../assets/scss/_variables.scss" as v;

.load{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    
    


    .lds-dual-ring {
        display: inline-block;
        
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 194px;
        height: 194px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid v.$color1;
        border-color: v.$color2  v.$color2 v.$color2 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      
    
}